<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Редактирование автомобиля</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- style.css -->
    <link rel="stylesheet" type="text/css"
    /href="static/css/style.css">

</head>

<body>

<div id="pcoded" class="pcoded">

    <div class="pcoded-container">

        <!--====================  header menu area ====================-->
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="navbar-container container-fluid">
                    <ul class="nav-right">
                        <li class="user-profile header-notification">
                            <a href="#">
                                <img src="/static/images/avatar.jpg" class="img-radius" alt="user">
                                <span>Порин Станислав</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--====================  End of header menu area ====================-->

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <!--====================  Left menu ====================-->
                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="main-menu-header" style="min-height: 123px;"></div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a href="index.html" class="py-3 ps-5">Главная</a>
                            </li>
                            <li>
                                <a href="auto_create.html" class="py-3 ps-5">Добавить авто</a>
                            </li>
                            <li>
                                <a href="rental_log.html" class="py-3 ps-5">Журнал аренды</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--====================  End of Left menu ====================-->

                <!--====================  Page content ====================-->
                <div class="pcoded-content">

                    <!--====================  Page header ====================-->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8" style="z-index: 9">
                                    <h5 class="m-b-10">Редактирование автомобиль {{ item.title }}</h5>
                                    <p class="m-b-0">Здесь можно изменить или удалить авто, а также посмотреть
                                        историю аренды автомобиля</p>
                                </div>
                                <div class="col-md-4" style="z-index: 9">
                                    <ul class="breadcrumb">
                                        <li>
                                            <a href="/" class="pe-2">
                                                <i class="bi bi-house-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/" class="pe-2">Главная</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====================  End of Page header ====================-->

                    <!--====================  Car's info ====================-->
                    <div class="row p-3">

                        <div class="col-md-4">
                            <!-- Slider -->
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/static/{{ item.main_pic }}">
                                    </div>
                                    {%if item.pictures %}
                                    {% for picture in item.pictures.split(',') %}
                                    <div class="swiper-slide">
                                        <img src="/static/{{ picture }}">
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group row">
                                            <label for="title" class="col-12 col-md-2">Название</label>
                                            <div class="col-12 col-md-10">
                                                {{ form.title(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="price" class="col-12 col-md-2">Стоимость аренды в минуту</label>
                                            <div class="col-12 col-md-10">
                                                {{ form.price(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="description" class="col-12 col-md-2">Описание</label>
                                            <div class="col-12 col-md-10">
                                                {{ form.description(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="main_pic" class="col-12 col-md-2">Изображение</label>
                                            <div class="col-12 col-md-10">
                                                {{ form.main_pic(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-2">
                                                Автоматическая КПП
                                            </label>
                                            <div class="col-12 col-md-10">
                                                {{ form.is_automatic(class="form-check-label") }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-2">
                                                Доступна для заказа
                                            </label>
                                            <div class="col-12 col-md-10">
                                                {{ form.is_available(class="form-check-label") }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <button type="submit" class="btn btn-success mt-2 me-4" name="action"
                                                    value="save">
                                                <i class="bi bi-save"></i>Сохранить
                                            </button>
                                            <button type="submit" class="btn btn-outline-danger mt-2" name="action"
                                                    value="del">
                                                <i class="bi bi-trash"></i>Удалить
                                            </button>
                                            {% if form.errors %}
                                            <p>{{ form.errors }}</p>
                                            {% endif %}
                                        </div>
                                    </form>


                                </div>
                            </div>
                            <a href="/auto-images/{{ item.id }}" class="btn btn-primary mt-2">
                                <i class="bi bi-palette"></i>Управление картинками
                            </a>
                        </div>

                        <div class="col-12 mt-5">
                            <div class="card mb-2">
                                <ul class="nav-tabs text-center">
                                    <li class="py-3">
                                        <h4>История аренды</h4>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card p-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Дата начала аренды</th>
                                            <th>Дата завершения аренды</th>
                                            <th>Общая стоимость аренды</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for j in journal %}

                                        <tr>
                                            <th>{{ loop.index }}</th>
                                            <td>{{ j.time_start }}</td>
                                            <td>{{ j.time_end }}</td>
                                            <td>{{ j.price }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====================  End of Car's info ====================-->

                </div>
                <!--====================  End of Page content ====================-->

            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/pcoded.min.js"></script>
<script src="/static/js/vertical-layout.min.js"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>

</body>

</html>